
.companies_container {
    padding: 0 30px;
}

.companies_button {
    border: 1px solid #9E9E9E;
    padding: 7px 20px;
    transition: box-shadow .3s ease 0s;
    font-size: 16px;
    background: #48484A;
    cursor: pros_pointer;
    width: 210px;
    border-radius: 17px;
    color: #F9F9FB;
}

.companies_button:hover {
    box-shadow: 0px -2px 4px rgb(0 0 0 / 20%), 0px 4px 4px rgb(0 0 0 / 22%);
}

.companies_button_container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-end;
    gap: 10px;
}

.companies_search {
    margin: 15px 0 25px;
    border-radius: 17px;
    max-width: 506px;
    align-items: center;
    /* background: #F4F4F4; */
    padding: 10px;
    border: 1px solid #48484A;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #48484a;
    width: 100%;    
}

.companies_list_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}