.lunches_container {
    padding: 80px;
    margin: 40px;
    border-radius: 8px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .lunches_container {
        margin-right: 0;
        margin-left: 0;
        
    }
}