
.pros_master_container {
    padding: 100px;
    margin: 40px;
    background-color: #fff;
    border-radius: 8px;
}

.pros_container {
    max-width: 1120px;
    margin: 0 auto; 
    padding: 0 10px;
}

.pros_header {
    font-size: 29px;
    font-family: Nickelodeon, sans-serif;
    margin: 0 auto;
}

.pros_list {
    display: flex;
    justify-content: space-between;
}

.pros_item {
    width: 20%;
    text-align: center;
    height: 190px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 768px) {
    .pros_master_container {
        padding: 20px;
        margin: 0;
        border-radius: 0;
    }
    .pros_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:baseline;
      }
    .pros_item { 
        width: auto;
    }
}