.trusted_master_container {
    padding: 80px;
    margin: 40px;
    border-radius: 8px;
    background-color: #fff;
 }
.trusted_container {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 200px;
    
}
.trusted_header {
    
    margin: 0 auto;
    margin-bottom: 40px;
}

.trusted_list_container {
    /* width: 50%; */
        /* margin-left: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center
}

.trusted_list_item {
    font-size: 18px;
    list-style: none;
    margin-bottom: 150px;
    position: relative;
    padding-left: 20px;
}


.trusted_circle {
    box-shadow: 0px 0px 80px 4px rgba(181, 181, 181, 0.3);
    border-radius: 50%;
    padding: 42px 52px 42px 32px;
    width: 132px;
    height: 132px;
    position: absolute;
    top: -225%;
    left: -30%;
}

#item1, #item2 {
    display: block;
}

@media (max-width: 768px) {
    .trusted_img {
        display: none;
    }
    .trusted_container {
        margin: 0;
        padding-right: 0;
    }
    #item1 #item2 {
        display: none;
    }
    .trusted_master_container {
        margin-right: 0;
        margin-left: 0;
    }
}